<app-table
  [rows]="submissions()"
  (fetch)="fetchSubmissions($event)"
  [rowTemplate]="rowTemplate"
  [config]="tableConfig"
>
</app-table>

<ng-template #rowTemplate let-row="row">
  @if (isQuiz()) {
    <a class="course-link" [routerLink]="['submission/quiz', row.id]">
      {{ row.studentFullName }}
    </a>
  } @else {
    <a class="course-link" [routerLink]="['submission', row.id]">
      {{ row.studentFullName }}
    </a>
  }
  <span>{{ row.submittedAt | date: "yyyy-MM-dd HH:mm" }}</span>
  <span>{{ row.status | submissionStatus }}</span>
  @if (row.status === SubmissionStatus.Graded || isQuiz()) {
    <span>{{ row.grade }}</span>
  }
</ng-template>
