.form-field-full {
  padding: 2em;
  .mat-mdc-form-field {
    width: 100%;
  }
}

.form-field {
  margin-top: 1em;
}

.register-control {
  border: 2px solid transparent;
  width: 15em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #f3f3f3;
  border-radius: 10px;
  transition: all 0.5s;
  margin-left: 1em;
}

.register-control:hover,
.register-control:focus {
  border: 2px solid #4a9dec;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

.register-form {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 24px;
  max-width: 900px;
  margin: auto;
}

.form-header {
  text-align: center;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px 32px; /* рядки x колонки */
}

.form-field {
  display: flex;
  flex-direction: column;
}

.register-control {
  padding: 8px;
  font-size: 16px;
}
