@import "../../../../../../base_styles/variables.scss";
.select-filter {
  display: flex;
  align-items: center;
  border: 1px solid $color-border-grey;
  padding-left: 14px;
  padding-right: 6px;
  text-decoration: none;
  white-space: nowrap;
  background-color: white;
  height: 40px;
  width: 100%;
  border-radius: $border-radius-medium;
}
