@if (isLoading()) {
  <div class="loading">Завантаження профілю...</div>
} @else {
  @if (profileInfo(); as user) {
    <div class="profile-container">
      <header class="profile-header">
        <div class="avatar-placeholder">
          {{ user.fullName.charAt(0).toUpperCase() }}
        </div>
        <div class="user-info">
          <h1>{{ user.fullName }}</h1>
          <p class="email">📧 {{ user.email }}</p>
          <span
            class="role-badge"
            [class.teacher]="user.userRole === UserRole.Teacher"
          >
            {{ currentUserRole() }}
          </span>
        </div>
      </header>

      <section class="courses-section">
        @if (isTeacher()) {
          <div>
            <button class="submit-btn" (click)="openCreateCourseModal()">
              Створити курс
            </button>
          </div>
        }
        <h2>Мої курси ({{ user.courses.length }})</h2>

        @if (user.courses.length === 0) {
          <p class="empty-state">У вас поки немає активних курсів.</p>
        } @else {
          @if (hasManyCourses()) {
            <div class="slider-container">
              <swiper-container
                slides-per-view="1"
                space-between="20"
                navigation="true"
                pagination="true"
                breakpoints='{"768": {"slidesPerView": 2}, "1024": {"slidesPerView": 3}}'
              >
                @for (course of user.courses; track course.id) {
                  <swiper-slide>
                    <div class="course-card">
                      <div class="course-category">
                        {{ course.categoryName }}
                      </div>
                      <h3>{{ course.title }}</h3>
                      <p
                        [innerHTML]="course.description"
                        class="course-desc"
                      ></p>

                      <div class="course-footer">
                        <a
                          [routerLink]="['/courses/course-details/', course.id]"
                        >
                          <button class="btn-go">Перейти</button>
                        </a>
                      </div>
                    </div>
                  </swiper-slide>
                }
              </swiper-container>
            </div>
          } @else {
            <div class="courses-grid">
              @for (course of user.courses; track course.id) {
                <div class="course-card">
                  <div class="course-category">{{ course.categoryName }}</div>
                  <h3>{{ course.title }}</h3>
                  <p [innerHTML]="course.description" class="course-desc"></p>

                  <div class="course-footer">
                    <a [routerLink]="['/courses/course-details/', course.id]">
                      <button class="btn-go">Перейти</button>
                    </a>
                  </div>
                </div>
              }
            </div>
          }
        }
      </section>
    </div>
  }
}
