<div class="login-container">
  <div class="login-image"></div>
  <div class="loginForm" [formGroup]="loginForm">
    <h1>Увійти в акаунт</h1>
    <p>Готові навчатися з нами?</p>
    <div class="input-form">
      <input placeholder="Ел. пошта" type="email" formControlName="email" />

      <input placeholder="Пароль" type="password" formControlName="password" />
    </div>

    <div class="action-buttons">
      <button class="login" (click)="login()">Увійти</button>
      <a href="/register">Реєстрація</a>
    </div>
  </div>
</div>
