.teacher-list {
  display: flex;
  gap: 5px;
  .teacher-name:not(:last-child)::after {
    content: ",";
  }
}
.row-description {
  display: block;
  width: 100%;

  // 🔥 Друге: змушуємо браузер примусово переносити нерозривні конструкції (&nbsp; та довгі слова)
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}
