<app-table
  [rows]="courses()"
  (fetch)="fetchCourses($event)"
  [rowTemplate]="rowTemplate"
  [config]="tableConfig"
>
</app-table>

<ng-template #rowTemplate let-row="row">
  <a [routerLink]="['/courses/course-details', row.id]" class="course-link">
    {{ row.title }}
  </a>
  <span>{{ row.description }}</span>
  <span>{{ row.categoryName }}</span>
  <div class="teacher-list">
    @for (teacher of row.teachers; track $index) {
      <span class="teacher-name">{{ teacher.firstName }}</span>
    }
  </div>
</ng-template>
