.grading-container {
  padding: 1rem;
}

@media (max-width: 1023px) {
  :host {
    display: block;
  }

  :host ::ng-deep .lg\:w-96 {
    width: 100%;
  }

  :host ::ng-deep .sticky {
    position: static;
  }
}
