<div class="status-table-container">
  <table class="status-table">
    <tbody>
      @if (status()) {
        <tr>
          <th scope="row">Статус роботи</th>
          <td>{{ status() }}</td>
        </tr>
      }

      @if (!isSubmited()) {
        <tr>
          <th scope="row">Максимальний бал</th>
          <td>{{ assignment().maxPoints }}</td>
        </tr>
      }

      @if (assignment().dueDate) {
        <tr>
          <th scope="row">Термін виконання</th>
          <td>{{ assignment().dueDate | date: "EEEE, d MMMM yyyy, HH:mm" }}</td>
        </tr>
        <tr [class.overdue-row]="timeLeft().isOverdue">
          <th scope="row">Залишилося часу</th>
          <td>{{ timeLeft().text }}</td>
        </tr>
      }

      @if (isSubmited() && isTask()) {
        <tr class="student-note">
          <th scope="row">Здано</th>
          <td>
            <span class="show-full-span" (click)="expand()">{{
              isExpand() ? "Згорнути" : "Показати повністю"
            }}</span>
            <div
              #noteContainer
              class="student-note-wrapper"
              [style.maxHeight]="isExpand() ? 'none' : '7rem'"
              [innerHTML]="submissionInfo()?.studentNote"
            ></div>
          </td>
        </tr>
      }
      @if (isSubmited() && hasGrade()) {
        <tr class="student-note">
          <th scope="row">Оцінка</th>
          <td>
            <p>
              {{ this.assignment().submissionInfo!.grade }} /
              {{ this.assignment().maxPoints }}
            </p>
          </td>
        </tr>
      }
      @if (isSubmited() && hasTeacherNotes()) {
        <tr class="student-note">
          <th scope="row">Відгук вчителя</th>
          <td>
            <div
              [innerHTML]="this.assignment().submissionInfo!.teacherFeedback"
            ></div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
