@if (assignment(); as data) {
  @if (isTeacher()) {
    <div class="tabs-navigation">
      <button
        [class.active]="activeTab() === 'content'"
        (click)="setTab('content')"
      >
        Інструкція
      </button>
      <button
        [class.active]="activeTab() === 'grading'"
        (click)="setTab('grading')"
      >
        Оцінювання
      </button>
    </div>
  }
  @if (activeTab() === "content") {
    <div class="assignment-header-row">
      <h1 class="assignment-title">{{ data.title }}</h1>

      @if (isTeacher()) {
        <button
          class="btn-delete-assignment"
          (click)="onDeleteAssignment(data.id, data.title)"
        >
          🗑️ Видалити завдання
        </button>
      }
    </div>
    <div class="assignment-container">
      <nav class="back-navigation">
        <button class="back-link" (click)="goBackToCourse()">
          <span class="arrow">←</span> Назад до курсу
        </button>
      </nav>
      <div class="assignment-card main-content">
        <h1 class="assignment-title">{{ data.title }}</h1>

        <div class="assignment-meta">
          @if (data.dueDate) {
            <div class="meta-item" [class.overdue]="isOverdue()">
              <i class="icon-calendar"></i>
              @if (isOverdue()) {
                <span>Прострочено: {{ data.dueDate | date: "medium" }}</span>
              } @else {
                <span>Дедлайн: {{ data.dueDate | date: "medium" }}</span>
              }
            </div>
          }
          @if (isQuiz()) {
            <div class="meta-item">
              <span>⏱ {{ assignment()?.quizInfo?.timeLimitMinutes }} хв.</span>
            </div>
            <div class="meta-item">
              <span
                >❓ Питань: {{ assignment()?.quizInfo?.questionQuantity }}</span
              >
            </div>
          }
        </div>

        <hr class="divider" />

        <div class="rich-text-content" [innerHTML]="data.description"></div>

        @if (isStudent()) {
          <div class="action-section">
            @if (!this.isAssignmentSubmitMode() && !isSubmitBlocked()) {
              <button
                class="submit-btn highlight"
                (click)="openAssignmentSubmit()"
              >
                {{ isQuiz() ? "Почати тест" : "Здати роботу" }}
              </button>
            }
          </div>
        }
      </div>
      @if (this.isAssignmentSubmitMode()) {
        @switch (this.assignment()?.assignmentType) {
          @case (AssignmentType.Task) {
            <app-task-submission
              (onCancelSubmission)="cancel()"
              [assignmentId]="assignment()!.id"
              (onSubmited)="fetchAssignment()"
            ></app-task-submission>
          }
          @case (AssignmentType.Quiz) {
            quiz
          }
        }
      }

      @if (hasNote() && !isTeacher()) {
        <div class="assignment-card status-card">
          <h3 class="section-title">Статус виконання</h3>
          <app-assignment-status [assignment]="data"></app-assignment-status>
        </div>
      }
    </div>
  } @else if (activeTab() === "grading" && isTeacher()) {
    <app-teacher-submission
      [assignmentId]="assignment()!.id"
    ></app-teacher-submission>
  }
}
