$bg-colors: (
  "profile-header": rgb(3, 4, 7),
  "create-quiz-button-color": rgb(199, 59, 234),
);

$color-border-grey: rgba(219, 223, 232, 0.5);
$color-disabled-dark-grey: #9b9fa8;
$color-nav-text-color: #fff;

$border-radius-medium: 4px;
