@import "../../../../base_styles/variables.scss";
.page-header-inner {
  display: flex;
  gap: 20px;
  background-color: map-get($bg-colors, "profile-header");
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: var(--mat-sys-corner-medium);
  color: rgba(255, 255, 255, 0.87);
}

.page-header-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
}
