@import '../../../../base_styles/variables.scss';
.page-header {
    display: block;
    background-color: map-get($bg-colors, "profile-header");
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: var(--mat-sys-corner-medium);
    color: rgba(255, 255, 255, .87);

    .breadcrumb {
        margin-top: 0.5rem;
        margin-bottom: 0;
    }
}

.page-header-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
}